block config 
    include ../config/config
<!doctype html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(http-equiv="Content-Security-Policy" content="default-src 'self'; frame-src 'self'")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="css/base.css")

    body(class=`${currentPage}`)
        block header
        block nav
        block main
        script(src="https://kit.fontawesome.com/36f2e0049f.js" crossorigin="anonymous")/