ul.main-menu
  li.main-menu__item
    a.main-menu__link(href='#')
      i.fa-solid.fa-book
      span  Mis Cursos
  li.main-menu__item 
    a.main-menu__link(href='#')
      i.fa-solid.fa-comment
      span Mis Preguntas
  li.main-menu__item 
    a.main-menu__link(href='#')
      i.fa-solid.fa-users
      span Mi Comunidad
  li.main-menu__item 
    a.main-menu__link(href='#')
      i.fa-solid.fa-user
      span Mi Perfil