@use "sass:math";
@import "../config.scss";

.main-header {
  background-color: color(azul-medio);
  color: color(blanco);
  display: flex;
  padding: 0 1em;
  height: rem(50px);
  line-height: rem(50px);
  font-size: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid rgba(color(azul-oscuro),0.2);
  z-index: z-index(overlay);
  h2 {
    line-height: 0.3em;
    padding-left: 1em;
    color: color(blanco);
    font-weight: 400;
    letter-spacing: 0.3rem;
  }
  .icon-menu {
    font-size: em(24px);
  }
}
