.button {
  display: inline-block;
  line-height: 2.5;
  padding: 0 1.5em;
  border: none;
  text-decoration: none;

  &.cta {
    background: color(rojo);
    color: color(blanco);
    display: table;
    margin: 2em auto;
  }
  &:hover {
    cursor: pointer;
    color: color(azul-base);
  }
}

.recuperar {
  color: color(rojo);
  &:active {
    color: color(azul-claro);
  }
  &:hover {
    cursor: pointer;
    color: color(azul-medio);
  }
}
